.AboutWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    max-width: fit-content;
    margin: auto;
    max-width: 70rem;
    min-width: 40rem;
    padding: 1rem;

}

.AboutWrapper>h1{
    text-align: center;
}

.AboutWrapper>p{
    margin-left: 2rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 1000px) {

    .AboutWrapper {

        max-width: fit-content;
        margin: auto;
        min-width: 20rem;
    
    }

}